<%= form_tag "/client/recipes/#{ @recipe_id }", method: :patch do %>

  <div>
    Title: <input type="text" name="title">
  </div>

  <div>
    Prep Time: <input type="text" name="prep_time">
  </div>

  <div>
    Directions: <input type="text" name="directions">
  </div>

  <div>
    Image Url: <input type="text" name="image_url">
  </div>

  <input type="submit" name="Update Recipe">
</form>

<% end %>